<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/index.css') }}">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dark Souls 2</title>
</head>
<body>
    <style>
        body{
        background: azure;
        font-family: "Press Start 2P", system-ui;
        font-weight: 300;
        font-style: normal;
        }
        h1{
            color: darkcyan;
        }
        p{
            color: silver;
        }
    </style>
    <a href="{{ url_for('iniciar') }}"><button><h2>Voltar Index</h2></button></a>
    <h1>História do Jogo</h1>
    <p>A história de Dark Souls II se passa no reino de Drangleic, um lugar desolado e em ruínas onde os jogadores controlam um "Portador da Maldição" (Bearer of the Curse) que busca uma cura para sua maldição. O jogador é guiado pela Arauto Esmeralda, Shanalotte, para coletar as quatro Grandes Almas de criaturas esquecidas, provando seu valor e eventualmente encontrando o Rei Vendrick, que tentou sem sucesso proteger o reino da maldição</p>
</body>
</html>