<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/index.css') }}">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dark Souls 3</title>
</head>
<body>
    <style>
    body{
        background: azure;
        font-family: "Press Start 2P", system-ui;
        font-weight: 300;
        font-style: normal;
    }
    h1{
        color: purple;
    }
    p{
        color:rgb(110, 110, 110);
    }
    </style>
    <a href="{{ url_for('iniciar') }}"><button><h2>Voltar Index</h2></button></a>
    <h1>História do Jogo</h1>
    <p>A história de Dark Souls III se passa após os eventos anteriores, onde a Era do Fogo, que mantém o ciclo de vida e morte, está enfraquecendo. Os Lordes das Cinzas, seres que já acenderam a chama para prolongar seu reinado, são ressuscitados para cumprir sua obrigação, mas se recusam a voltar aos seus tronos. O jogador assume o papel de um "Inaceso" (Unkindled), um servo ressuscitado que falhou em acender a chama no passado, e que agora deve forçar os Lordes das Cinzas a cumprir seu dever para restaurar o ciclo e, assim, impedir o fim do mundo. </p>
</body>
</html>